html {
	background-image: url(/images/art-background4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

header {
	background-color: white;
	width: 400px;
	margin-left: 10%;
	padding: 20px 10px 30px 10px;
}

h1 {
	font-family: "Six Caps", Arial, sans-serif;
	font-size: 2.5em;
}

article {
	background-color: rgba(255, 255, 255, 0.3);
	width: 500px;
	margin-left: 10%;
	margin-top: 8%;
}

article h2 {
	background-color: rgba(255, 255, 255, 0.7);
	font-family: Arial, sans-serif;
	font-size: 1.2em;
	padding: 1% 0% 1% 1%;
}

article p {
	font-family: Georgia, Arial, serif;
	font-weight: bold;
	margin: 5% 0% 0% 3%;
}

#countdown {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 2% 0% 2% 0%;
	margin: 5% 45% 5% 3%;
}

footer {
	background-color: white;
	opacity: 100%;
	padding: 2% 0% 2% 2%;
}

a[href^="mailto"] {
	background: url(/images/email.png) no-repeat 0 3px;
	padding-left: 1em;
}
