header,
footer {
	color: white;
	background-color: #306271;
	margin: Oem 4em 0.5em 4em;
	font-family: "arial";
}

header h1 {
	font-family: "arial";
	font-size: 1.5em;
}

header h2 {
	font-family: "arial";
	font-size: 0.75em;
}

header nav {
	background-color: lightgrey;
}

.photographer {
	color: dimgrey;
	font-style: italic;
}

ul,
li,
a:link {
	color: dodgerblue;
	display: inline;
	font-family: "arial";
	font-size: 1.1em;
	list-style-type: none;
}

section h3 {
	font-family: "arial";
	font-size: 1.1em;
}

.share {
	background-color: lightgrey;
}

article figure {}

.caption_text {
	color: dimgrey;
	font-style: italic;
}

footer ul,
li {
	font-family: "arial";
}

footer a {
	color: dodgerblue;
	font-family: sans-serif;
}

footer p {
	font-style: italic;
}
