#mainMenu {
	text-align: right;
	background-color: darkslategray;
	padding-right: 5%;
}

#mainMenu ul,
li,
#mainmenu a {
	color: dodgerblue;
	font-family: "arial";
	display: inline;
	list-style: none;
}

#secondaryMenu {
	background-color: lightgrey;
}

#secondaryMenu li,
#secondaryMenu a {
	display: inline;
	margin-right: 0.25em;
	color: dodgerblue;
}

#profile img {
	border: thin solid;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}

#profile h2 {
	font-family: "arial", sans-serif;
	font-size: 1.15em;
	text-align: center;
	width: 100%;
}

#personalDetails p {
	border: thin solid;
	background-color: white;
}

#personalDetails em {
	color: grey;
}

#personalDetails a {
	color: skyblue;
}

#contactInfo p {
	border: thin solid;
	background-color: white;
}

#contactInfo em {
	color: grey;
}

#contactInfo a {
	color: skyblue;
}

#salesChart img {
	border: thin solid;
}

#copyright {
	font-family: "arial", sans-serif;
	font-size: 0.9em;
}


/*======================[ Classes ]======================*/

.actions div,
.actions ul {
	background-image: url(/images/header-background.png);
	background-repeat: repeat;
	list-style: none;
}

.actions li {
	display: inline;
}


/*======================[ Selectors ]======================*/

body {
	background-image: url(/images/background-pattern.png);
}

h3 {
	background-image: url(/images/header-background.png);
	background-repeat: repeat;
	color: white;
	font-family: "arial", sans-serif;
	font-size: 1.15em;
	width: auto;
}

h1 {
	background-image: url(/images/header-background.png);
	background-repeat: repeat;
	text-indent: 10%;
}

section {
	display: block;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2%;
}

footer {
	background-image: url(/images/header-background.png);
	background-repeat: repeat;
	color: white;
	font-family: "arial", sans-serif;
}

footer a {
	color: deepskyblue;
	font-family: "arial", sans-serif;
}

a[href^="mailto"] {
	background: url(/images/email.png) no-repeat 0 3px;
	padding-left: 1em;
}

a[href^="tel"] {
	background: url(/images/call.png) no-repeat 0 3px;
	padding-left: 1em;
}
