body {
	font-family:"Lucida Sans Unicode",sans-serif;
}


table:first-child {
	margin-left: auto;
	margin-right: auto;
}

caption {
	background-color: mediumseagreen;
	padding: 5px 5px 5px 5px;
}

th {
	width: 30px;
	background-color: rgb(240, 245, 250);
	border: 1px solid white;
}

td {
	text-align: center;
	background-color: rgb(240, 245, 250);
	height: 30px;
	width: 30px;
}

tfoot {
	color:black;
	text-decoration: underline;
}

.merge {
	margin-left: 2px;
	width: 90px;
}

td:hover {
	background-color: cadetblue;
}

.extend {

	width: 70px;
	text-decoration: underline;
}

table:nth-child(2) {
	margin-left: 550px;
	background-color: rgb(246, 247, 249);
}


form {
	border: solid;
	background-color: palegoldenrod;
	margin-top: 50px;
	width: 25em;
	margin-right: auto;
	margin-left: auto;
}

#namebox {
	width: 10em;
}

#datebox {
	width: 10em;
}



