
* {
	font-family: Calibri, Georgia, Arial, sans-serif;
	font-size: 100%;
}

legend {
	width: 90%;
	
	margin-left: auto;
	margin-right:auto;
	background-color: rgb(208, 237, 244);
	text-align: center;
}

form {
	display:flex;
	width: auto;
	margin-left:auto;
	margin-right:auto;
}

fieldset {
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(237, 249, 252);
}


/* ID's and Selectors */

#title {
	width: 60%;
	margin-left:auto;
	margin-right: auto;
}



#description {
	width: 40%;
	height: 6em;
}

#license {
	margin: 0 auto;
	margin-top: 0em;
	background-color: rgb(208, 237, 244);
	padding: 0.25em 0.25em 0.25em 0.25em;
}

#dateandtime {
	height: 8em;
	margin-left: 30em;	
	border: 0.06em solid;
	border-color:cornflowerblue;
	border-radius: 0.25em;
	width: 12em;
}

#actions {
	background-color: rgb(208, 237, 244);
	margin-top: 0.6em;
	padding: 1.5em 0 1.5em 0;
	text-align: center;
}

#actions>input {
	height: 2.25em;
	width: 6.75em;
	border-radius: 0.2em;
	border-color: cornflowerblue;
	background-color: lightslategray;
	color: white;
}

.legal {
	margin-top: -5em;
	width: 12em;
	position:relative;
	margin-left: 70%;

}


.legal #copyright {
		
	margin-top: 4em;
	margin-bottom: 0.5em;
	float:right;
	width: 104%;
	border: 0.06em solid;
	border-color: cornflowerblue;	
	
}

.legal #license {
		
	float:right;
	margin-bottom: 6.25em;
	width: 100%;
	border: 0.06em solid;
	border-color: cornflowerblue;	
	

}


.rate input {
	width: 3.75em;
}

.firstrow > td{
	
}



.roundedbutton {}
