header {
	font-family: "Georgia", sans-serif;
}

div {}

body {
	margin-left: 5em;
	margin-right: 5em;
}

form {
	margin: 0 auto;
	margin-top: 1.0em;
	width: 90%;
	height: auto;
}

fieldset {
	margin-left: auto;
	margin-right: auto;
	border: thin solid;
	border-color: lightskyblue;
	background-color: rgb(235, 245, 250);
}

h4 {
	background-color: lightskyblue;
	font-size: 1.4em;
	margin-bottom: 0px;
	padding: 0px;
}

table {
	height: auto;
	width: 100%;
	margin: 0 auto;
	margin-top: -0.5em;
	background-color: rgb(250, 255, 255);
	border: thin solid;
	border-collapse: collapse;
	border-color: lightskyblue;
	font-size: 0.8em;
	table-layout: fixed;
}

thead {
	background-color: rgb(235, 245, 250);
}

th {
	text-align: left;
	width: auto;
}

td {
	height: auto;
	width: auto;
	border-top: thin solid;
	border-top-color: lightskyblue;
	text-align: left;
}

#death_of_marat {
	z-index: 0;
}

#portrait {
	z-index: 1;
}

#liberty {
	z-index: 2;
}

#arrangement {
	z-index: 3;
}

#madem {
	z-index: 4;
}
