html, body, header, footer, hgroup, nav, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img
{
   width: auto;
   padding: 0;
   font-size: 100%;
   vertical-align: baseline;
   border: 0;
}
